.card
{
    text-align: left;
}
.recharts-legend-item-text
{
    font-size: 12px;
}
.font-change
{
    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
}