.card {
    width: 95% !important;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    margin: 0 10px; /* Adds space between cards */
  }
  
  .slick-prev:before, .slick-next:before
  {
    color: var(--main-font-color);
  }
  .auth-image {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 1rem;
    display: block;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .input-group .icon {
    margin-right: 10px;
    color: #555;
  }
  .fontuser_icon
  {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    color: #999;
    pointer-events: none;
  }
  form
  {
    position: relative;
  }
  .input_placeholder
  {
    padding-left: 35px;
  }